{
  "env": {
    "test": {
      "retainLines": true
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ]
}
